.bunner {
  margin-top: 36px;

  .banner__content {
    max-height: 448px;
    margin: 0 auto;
    max-width: 1680px;
    background-image: url(../../img/bunner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;


    .banner__block {
      flex-direction: column;
      justify-content: center;


      &--title {
        color: var(--white-color);
        margin-top: 7vmax;
      }

      .banner__block--button {
        margin-top: 3.5vmax;
        margin-bottom: 6vmax;
        width: 254px;
        height: 64px;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: none;
        color: var(--white-color);
        background-color: var(--orange-color);
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      @include small-tablet {

        .bunner {
          margin-top: 0;
        }

        .banner__block--button {
          margin-top: 35px;
          width: 234px;
          height: 44px;
        }

        .banner__block--title {
          font-size: 25px;
        }
      }

      @include small-mobile {

        .banner__block--title {
          margin-top: 5vmax;
          font-size: 22px;
        }
        .banner__block--button {
          margin-top: 144px;
        }
      }

      .banner__block--button:hover {
        background-color: var(--orange-hover-color);
        transition: 0.3s ease-in-out;
      }
    }
  }


    @include small-mobile {
      .banner__content {
        min-height: 322px;
        margin: 0 auto;
        background-image: url(../../img/finy.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        background-color: #003264;
      }

      .banner__block {
        align-items: center;
      }

      .banner__block--button {
        margin-top: 144px;
      }
    }

    @include mobile {
      .banner__block--title {
        font-size: 25px;
      }

    }



  }

  @include small-tablet {

    .bunner {
      margin-top: 0;
    }
  }

















