<header class="header">
  <div class="container flex header-container">
    <a class="logo" href="#">
      <img src="../img/logo.svg" alt="Логотип компании" />
    </a>
    <nav class="nav">
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">Наши ценности</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">Начало карьеры</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--social">Социальные сети</a>
        </li>
      </ul>
    </nav>
    <div class="nav__mobile">
      <div class="overlay"></div>
      <div class="nav__wrap">
        <div class="nav__block">
          <nav class="nav__mobile-menu">
            <ul class="list-reset nav__list flex">
              <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
              <li class="nav__item">
                <a href="#" class="nav__link">Наши ценности</a>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
              <li class="nav__item">
                <a href="#" class="nav__link">Начало карьеры</a>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="nav__close-mobile-menu"></div>
        </div>
        <div class="nav__socal-block flex">
          <div class="nav__social-link flex">
            <svg class="mobile-link">
              <use xlink:href="../img/sprite.svg#vk"></use>
            </svg>
          </div>

          <div class="nav__social-link flex">
            <svg class="mobile-link">
              <use xlink:href="../img/sprite.svg#odnoklassniky"></use>
            </svg>
          </div>

          <div class="nav__social-link flex">
            <svg class="mobile-link">
              <use xlink:href="../img/sprite.svg#facebook"></use>
            </svg>
          </div>

          <div class="nav__social-link flex">
            <svg class="mobile-link">
              <use xlink:href="../img/sprite.svg#instagramm"></use>
            </svg>
          </div>
        </div>
      </div>

    </div>
    <div class="burger"><span></span></div>

    <!-- мобильное меню -->

  </div>
</header>