<header class="header">
  <div class="container flex header-container">
    <a class="logo" href="#">
      <img src="../img/logo.svg" alt="Логотип компании">
    </a>
    <nav class="nav">
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Наши ценности</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Начало карьеры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--social">Социальные сети</a></li>
      </ul>
    </nav>
  </div>
</header>
