<section class="skills">
  <div class="container">
    <div class="skills__container grid">
      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#development"></use>
        </svg>
        <p class="skills__title">Развитие</p>
      </div>

      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#education"></use>
        </svg>
        <p class="skills__title">Обучение</p>
      </div>

      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#responsibility"></use>
        </svg>
        <p class="skills__title">Ответственность</p>
      </div>

      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#dynamics"></use>
        </svg>
        <p class="skills__title">Динамика</p>
        <p class="skills__descr">Общего центра обслуживания. Современные технологии, проекты, рабочие группы</p>
      </div>

      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#comfort"></use>
        </svg>
        <p class="skills__title">Комфорт</p>
      </div>

      <div class="skills__block flex">
        <svg class="skills__svg">
          <use xlink:href="../img/sprite.svg#reliability"></use>
        </svg>
        <p class="skills__title">Надёжность</p>
      </div>

    </div>
  </div>
</section>