<section class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="swiper-slide--container">
          <p class="swiper-slide--name">Евдокимова Майя</p>
          <p class="swiper-slide--status">Генеральный директор</p>
          <p class="swiper-slide--descr">Цель нашей работы обеспечить высочайший сервис нашим клиентам. Дать возможность
            бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом, казначейства,
            финансового учёта и отчётности нам.</p>
          <img class="swiper-slide--img" src="../img/boss.png" alt="Фото генерального директора">
        </div>

      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- Кнопки слайдера -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
</section>