:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1196px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #242627;
  --gray-color: #F2F2F2;
  --orange-color: #E9862A;
  --orange-hover-color: #E77E1E;
  --blue-color: #003264;
}
